<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Usuario</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
        <div>
            <h4>Registrar</h4>
            <form method="POST" id="" action="/v1/user">
                Nombre: <input name="Nombre" type="text" value=""/>
                Contraseña: <input name="Contraseña" type="text" value=""/>
                Numero: <input name="Numero" type="text" value=""/>
                Email: <input name="Email" type="text" value=""/>
                <button >Registrar</button>
            </form>
        </div>

        <div>
            <h4>Login</h4>
            <form method="POST" id="" action="/v1/login">
                <input name="username" type="text" value=""/>
                <input name="password" type="text" value=""/>
                <button>Login</button>
            </form>
        </div>
    </body>
</html>
